.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* background-image: url(https://images.pexels.com/photos/4386157/pexels-photo-4386157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
  background-color: black;
  /* Padding bottom by footer height */
  padding-bottom: 40px;
}

.navbar {
  background-color: black;
  border-bottom: 1px solid white;
}

.nav-item {
  margin: 0 auto;
  padding: 20% auto;
}

form {
  margin-left: 60%;
}

.btn {
  margin-left: 5%;
}

h1 {
  font-family: "Fraunces", serif;
  color: #ffffff;
}

h2.headline {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  color: #ffffff;
}

svg {
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  /* background-color: black; */
  border-radius: 3px;
  border: 1px solid white;
}

line {
  color: white;
}

text {
  color: white;
}

.article p {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

hr {
  border: none;
  border-top: 3px double #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 7px;
}

hr:after {
  background: #000000;
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

#footer {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

h3.logo-brand {
  margin: 0 auto;

  font-family: "Fraunces", serif;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
}
