.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: black;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/004/631/original/black_background_flipped.jpg?1612039489);
  /* Padding bottom by footer height */
  padding-bottom: 50px;
}

.navbar {
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
}

.navbar-brand h1 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  color: white;
}

.nav li {
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
}

.navigation-pane {
  padding-left: 10%;
  justify-content: center;
}

.search-form {
  padding-left: 50px;
  padding-right: 0;
}

.btn {
  margin-left: 5%;
}

h2.headline {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  color: #ffffff;
}

svg {
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  /* background-color: black; */
  border-radius: 3px;
  border: 1px solid white;
}

line {
  color: white;
}

text {
  color: white;
}

.article p {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-left: 10px;
  /* background-color: #000000; */
  color: #ffffff;
  text-align: left;
}

hr {
  border: none;
  border-top: 1px solid #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 7px;
}

hr:after {
  background: #000000;
  /* content: "§"; */
  padding: 0 4px;
  position: relative;
  top: -13px;
}

h3.logo-brand {
  margin: 0 auto;
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}

h4 {
  font-size: 18px;
}

li {
  list-style-type: none;
  font-size: 14px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: silver;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: cyan;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
